TEI {
    font-family: sans-serif;
}


TEI,
text,
entry,
entryFree,
form,
p {
    display: block;
}

body {
    display: block;
    background: #fff;
    max-width: 40rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

entry,
entryFree {
    display: block;
    margin: 0.5rem 0;
}

p {
    text-align: justify;
    color: #888;
}

sense {
    display: block;
    text-indent: 1rem;
    color: #888;

}

emph {
    font-style: italic;
    color: #080;
}

teiHeader {
    display: none;
}

dictScrap {
    color: blue;
}

ref {
    color: blue;
    font-variant-caps: small-caps;
}

term {
    font-weight: bold;
}

orth {
    font-weight: bold;
    color: red;
    font-variant-caps: small-caps;
}


pb {
    color: #888;
    display: block;
    border-bottom: 0.5px solid #ccc;
    text-align: right;
    font-size: 0;
}

pb:before {
    font-size: 12px;
    display: block;
    float: right;
    content: "p. "attr(n);
}

lb:before {
    content: ' ';
    display: block;
}